@import url('https://fonts.googleapis.com/css?family=Roboto:100i,300,300i,400,700,900');

body {
	padding: 0;
	margin: 0;
  background: url('../img/bg-01-flip.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 300;
  font-style: italic;
  margin-top: 0;
}

h3 {
  font-size: 2em;
}

#small-play-button:hover {
  cursor: pointer;
}

.row {
	margin-bottom: 0;
}

.social {
	margin-left: 0;
	margin-right: 0;
	padding: 0 2px;
}

.social a:hover {
	background-color: white !important;
	opacity: 0.7;
	-webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
	transition: opacity .3s;

}

.social-image {
	height: 28px;
	width: auto;
	overflow: hidden;
	margin-bottom: -7px;
}

.brand-logo img {
	height: 100%;
	width: auto;
}

.content-wrapper {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.content {
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.content-column {
  height: -webkit-calc(100vh - 64px);
  height: expression(100vh - 64px);
  height: -moz-calc(100vh - 64px);
  height: -o-calc(100vh - 64px);
  height: calc(100vh - 64px);
}

.title {
	font-size: 3.6em;
	font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
	font-size: 1.8em;
	font-weight: 300;
	font-style: italic;
	line-height: 1em;
  z-index: 2;
}

.subtitle p {
  margin-top: 0;
  margin-bottom: 0.6em;
}

.centered-icon {
  position: relative;
  bottom: -0.2em;
}

.underline {
	text-decoration: underline;
}

.light {
  font-weight: 100;
  font-style: italic;
}

.no-shadow {
  text-shadow: 0 0;
  box-shadow: 0 0;
}

.button-bottom {
  margin-top: 30px;
}

.empty {
  visibility: hidden;
}

/*     NAV MENUS     */

.nav-wrapper {
  background-color: white;
  padding: 0 15%;
  z-index: 1;
}

.nav-wrapper .button-collapse {
  padding-left: 10px;
}

.nav-wrapper ul a {
  color: black;
}

.nav-wrapper ul a:hover {
  background-color: #EEEEEE;
}

nav ul {
  float: right;
}

nav .site-name {
  color: black;
  float: left;
  margin-left: 75px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

nav.shiftnav-nav {
  clear: both;
}

nav.shiftnav-nav ul {
  background-color: yellow;
}


#sidenav-overlay {
  z-index: 0;
}



/*    FOOTER    */


footer {
  text-align: center;
  margin-top: 0;
}

footer p {
  color: rgba(255,255,255,0.7);
  margin-left: 15%;
  margin-right: 15%;
  font-weight: 300;
  font-style: italic;
  display: inline;
  margin: 0;
  line-height: 0;
  margin-left: 30px;
  margin-right: 30px;
}



@media screen and (max-width: 601px) {
  nav .brand-logo {
    height: 100%;
    width: auto;
  }

  footer {
    margin-bottom: 10px;
  }

  footer p {
    display: block;
    line-height: 1.3em;
  }
}

@media screen and (max-width: 992px) {
  .nav-wrapper {
    padding: 0;
  }

  nav .site-name {
    display: none; /* FIX THIS! */
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1460px) and (min-width: 993px) {
  .nav-wrapper{
    padding: 0 10%;
  }

  .content {
    width: 80%;
  }

  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 1.4em;
  }
}